.main-content {
    position: absolute;
    background-color: dimgray;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-main {
    position: relative;
    height: 100%;
    /* justify-content: center;
    flex: 6;
    position: relative;
    min-height: calc(100vh - 35px);
    overflow: hidden; */
}
.perspective-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    perspective: 1200px;
    flex: 5;
}

.loading {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    }

    @keyframes Gradient {
        0% {
        background-position: 0% 50%
        }
      50% {
      background-position: 100% 50%
      }
      100% {
      background-position: 0% 50%
      }
      }