.fade-appear,
.fade-enter {

}

.fade-appear-active {
  
}
.fade-enter-active {
  animation: slideIn 1000ms both ease;
}

.fade-exit {
  
}

.fade-exit-active {
  animation: slideOut 1000ms both ease;

}

@keyframes slideOut {
  0% { }
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes slideIn  {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}